html,
body {
  height: 100%;
}
html,
body {
  height: 100%;
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
#page-contents {
  padding-bottom: 75px;
}
.day {
  width: 100px;
}
.navbar-brand img {
  height: 100%;
}
header {
  margin-bottom: 20px;
}
header .logo {
  margin-bottom: 20px;
  margin-top: 10px;
}
header .logo .image {
  height: 100%;
  float: left;
  margin-right: 20px;
}
header .logo h1 {
  color: #003f87;
  margin: 0px;
  font-weight: bold;
}
header .logo h3 {
  color: #ce1126;
  margin: 0px;
}
@media (min-width: 1200px) {
  header .logo {
    height: 132px;
  }
  header .logo h1 {
    font-size: 70px;
  }
  header .logo h3 {
    font-size: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .logo {
    height: 110px;
  }
  header .logo h1 {
    font-size: 60px;
  }
  header .logo h3 {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .logo {
    height: 88px;
  }
  header .logo h1 {
    font-size: 50px;
  }
  header .logo h3 {
    font-size: 30px;
  }
}
#small-header .navbar-brand {
  font-weight: bold;
  color: #003f87;
}
.sidebar div {
  margin-bottom: 20px;
}
.sidebar div ul {
  padding-left: 15px;
}
.sidebar div h4 {
  color: #003f87;
}
.eagles td {
  padding-right: 10px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.red {
  color: red;
}
