---
title: Calendar
layout: default
---


<h1><a href="./content/Calendar.docx">Download the calendar</a></h1>
{% for year in site.data.calendar %}
  <h1>{{year.year}}</h1>
  <hr>
  {% for month in year.months %}
    <h2>{{month.month}}</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Day</th>
            <th>Event</th>
          </tr>
          {% for event in month.events %}
          <tr>
              <td>{{ event.day }}</td>
              <td>{{ event.event }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
  {% endfor %}
{% endfor %}
