---
title: Home
layout: default
---


<img src="./img/content/banner.png" style="width:100%;margin:20px 0 0" />
<h1>Welcome!</h1>
<div class="row">
    <div class="col-sm-9">
        <p>Hello, and thanks for visiting. Here you can learn all about Troop 86 and the wonderful program we offer for Marlboro,
            NJ area boys ages 11 – 17. Not sure if scouting is right for you? Check out this great video and tell us this
            doesn’t look fun. If it does, then look at the calendar below for the next Troop Meeting or <a href="./contact.html"> contact us</a>to
            learn more.</p><br/>
        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/1n3VCVhly48" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
    <img src="./content/Rager - Fundraiser - Texas Roadhouse.jpg" style="width:100%;margin:20px 0 0" />
    <div class="col-sm-3 sidebar">
        <div>
            <h4>Troop Meetings</h4>
            <p>Mondays, 7:30-9:00 PM<br/>Old Brick Reformed Church<br/><a href="https://www.google.com/maps/place/490+County+Rd+520,+Marlboro+Township,+NJ+07746">490 Rt. 520, Marlboro, NJ</a></p>
        </div>
        <div>
            <h4>Reminders</h4>
        </div>
        <div>
            <h4>Upcoming Events</h4>
            <a href="./content/Rager - Fundraiser - Texas Roadhouse.jpg">Fundraiser for Mike Rager</a><br/>
            <ul>
                {% for event in site.data.upcoming %}
                    {% if event["Link"] == "None" %}
                        <li>{{event["Month"]}} {{event["Date"]}} - {{event["Event"]}}</li>
                    {% else %}
                            <li>
                                {{event["Month"]}}
                                {{" "}}
                                {{event["Date"]}} 
                                {{" - "}}
                                <a href={{event["Link"]}} >{{event["Event"]}}</a>
                            </li>
                        
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div><a href="http://www.scouting.org/">Boy Scouts of America</a><br/><a href="http://monmouthbsa.org/">Monmouth Council</a><br/><a
                href="https://www.monmouthbsa.org/Battleground">Battleground District</a></div>
        <div>Troop 86 has been proudly chartered by <a href="http://www.oldbrickchurch.org/">Old Brick Reformed Church</a> since
            1947.</div>
        <div>
            <h4>Latest Press Releases</h4>
            <a href="https://patch.com/new-jersey/marlboro-coltsneck/boy-scouts-america-troop-86-eagle-honor-eric-schmalzried">Boy Scouts of America Troop 86 Eagle Honor for Eric Schmalzried</a>
            <a href="http://www.centraljersey.com/news/news_transcript/stories/marlboro-boy-scout-troop-celebrates-th-anniversary/article_62651a98-f26e-5446-93c1-8f2198c9a88d.html">Marlboro Boy Scout Troop 86 celebrates 70th Anniversary</a><br/>
            <a href="http://www.centraljersey.com/news/news_transcript/stories/brothers-from-marlboro-boy-scout-troop-attain-rank-of-eagle/article_b53a5871-6ed3-5f22-af14-8a8621e94644.html">Brothers from Marlboro Boy Scout Troop 86 attain rank of Eagle</a>
        </div>
        <div>
            <h4>Latest Newsletters</h4>
            <a href="./content/Newsletter November 2018.pdf">November 2018</a><br/>
        </div>
    </div>
</div>
