---
title: Calendar
template: index.html
nav_groups:
- primary
---
h1 2015
hr

h2 September
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 21 
      td Regular Meeting
    tr
      td 28 
      td Regular Meeting

h2 October
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 2-4
      td 
        b Liberty Jamboree
    tr
      td 4
      td PLC
    tr
      td 5
      td Regular Meeting
    tr
      td 12
      td Court of Honor
    tr
      td 17-18
      td
        b Pack Campout
    tr
      td 19
      td Regular Meeting
    tr
      td 23-25
      td
        b DCFS
    tr
      td 26
      td Regular Meeting

h2 November
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 2
      td PLC/Committee
    tr
      td 4
      td
        b Medieval Times
    tr
      td 9
      td Regular Meeting
    tr
      td 13-15
      td 
        b COTEF
    tr
      td 16
      td Regular Meeting
    tr
      td 23
      td Regular Meeting
    tr
      td 30
      td Regular Meeting

h2 December
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 4-6
      td
        b Philly Trip
    tr
      td 6
      td PLC
    tr
      td 7
      td Regular Meeting
    tr
      td 14
      td Regular Meeting
    tr
      td 20
      td Holiday Party

h1 2016
hr

h2 January
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 4
      td PLC/Committee
    tr
      td 10
      td
        b Jack Frost
    tr
      td 11
      td Regular Meeting
    tr
      td 15-17
      td
        b NESA Jamboree 
        | (13 and older)
    tr
      td 18
      td Regular Meeting
    tr
      td 23-24
      td
        b Climbing Gym
    tr
      td 25
      td Regular Meeting
    tr
      td 31
      td PLC
      
h2 February
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 1
      td Regular Meeting
    tr
      td 6
      td
        b Klondike
    tr
      td 7
      td
        b Scout Sunday
    tr
      td 8
      td Regular Meeting
    tr
      td 22
      td Regular Meeting
    tr
      td 26-28
      td
        b Catamount
    tr
      td 29
      td Court of Honor

h2 March
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 7
      td PLC/Committee
    tr
      td 14
      td Regular Meeting
    tr
      td 18-20
      td
        b Hunt Club
    tr
      td 21
      td Regular Meeting

h2 April
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 3
      td PLC
    tr
      td 4
      td Regular Meeting
    tr
      td 9-10
      td
        b Laurel Caverns
    tr
      td 11
      td Regular Meeting
    tr
      td 18
      td Regular Meeting
    tr
      td 25
      td Regular Meeting

h2 May
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 2
      td PLC/Committee
    tr
      td 9
      td Regular Meeting
    tr
      td 16
      td Regular Meeting
    tr
      td 20-22
      td
        b Canoe/Kayak
    tr
      td 23
      td Regular Meeting

h2 June
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 5
      td PLC
    tr
      td 6
      td Regular Meeting
    tr
      td 13
      td Court of Honor
    tr
      td 17-19
      td
        b Mountain Creek
    tr
      td TBD
      td Summer Camp Meeting
    tr
      td TBD
      td 
        b Fishing Trip

h2 July
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 17-23
      td
        b Ten Mile River
