---
title: Calendar
template: index.html
nav_groups:
- primary
---
h1 2015
hr

h2 January
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 5
      td Regular Meeting
    tr
      td 10
      td 
        b YMCA Lock-In
    tr
      td 12
      td Regular Meeting
    tr
      td 16-18
      td
        b NESA Merit Badge Jamboree
    tr
      td 19
      td PLC/Committee Meeting 
        em (No Regular Meeting)
    tr
      td 25
      td
        b Jack Frost 
        em (Day Ski Trip)
    tr
      td 26
      td Regular Meeting

h2 February
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 1
      td 
        b Scout Sunday
    tr
      td 2
      td Regular Meeting
    tr
      td 7
      td
        b Klondike 
        em (Scout Sled Competition)
    tr
      td 9
      td Regular Meeting
    tr
      td 23
      td Regular Meeting
    tr
      td 27-1
      td
        b 
          a(href="http://www.catamountski.com/") Catamount 
        em (Skiing, Cabin Camping)

h2 March
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 2
      td 
        b Court of Honor
    tr
      td 9
      td Regular Meeting
    tr 
      td 16
      td Regular Meeting
    tr
      td 20-2
      td 
        b Hunt Club 
        em (Camping and Rank Advancement)
    tr
      td 23
      td Regular Meeting
    tr
      td 30
      td PLC/Committee Meeting 
        em (No Regular Meeting)
  
h2 April
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 13
      td Regular Meeting
    tr
      td 17-19
      td
        b 
          a(href="http://amcmuseum.org/") Air Mobility Command Museum 
          em Dover Air Force Base 
        em (Camping, Airplanes, Tours)
    tr
      td 20
      td Regular Meeting
    tr
      td 27
      td Regular Meeting

h2 May
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 4
      td Regular Meeting
    tr
      td 11
      td Regular Meeting
    tr
      td 15-17
      td 
        b 
          a(href="http://www.moreyspiers.com/plan/event/the-13th-annual-beach-jam").
            Beach Jam 
        em (Beach Camping & Boardwalk Rides)
    tr
      td 18
      td Regular Meeting

h2 June
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 1 
      td Regular Meeting
    tr
      td 8
      th
        b Court of Honor
    tr
      td 12-14
      td
        b Horseback Riding
    tr
      td 15
      td Summer Camp Meeting
    tr
      td (TBD)
      td
        b 
          a(href="http://mistymornfishing.com/") Fishing Trip

h2 July
.table-responsive
  table.table.table-striped
    tr
      th.day Day
      th Event
    tr
      td 19-25
      td 
        b Summer Camp Week 
        em (Merit Badges, Troop Activities, and summer fun)
      
