---
title: Home
template: index.html
nav_groups:
- primary
nav_sort: 1
---

.jumbotron
  h1 Open House
  p 
    | We're hosting an open house 
    b Sunday, March 13th 
    | from 
    b 2-4 pm 
    | at the 
    b
      a(href="https://goo.gl/maps/57z1AbiYkHH2" target="_blank") Old Brick Reformed Church 
  p
    a.btn.btn-primary.btn-lg(href="./content/open_house_flyer.pdf" target="_blank" role="button") Learn more
  

img(src="./img/content/banner.png" style="width:100%;margin:20px 0 0")

h1 Welcome!
.row
  .col-sm-9
    p
      | Hello, and thanks for visiting. Here you can learn all about Troop 86 
      | and the wonderful program we offer for Marlboro, NJ area boys ages 
      | 11 – 17. Not sure if scouting is right for you? Check out this great 
      | video and tell us this doesn’t look fun. If it does, then look at the 
      | calendar below for the next Troop Meeting or 
      a(href="./contact.html") contact us 
      | to learn more.
    br
    .videoWrapper
      iframe(src="http://www.youtube.com/embed/-CgUDVC9ysQ" frameborder="0" allowfullscreen)
  .col-sm-3.sidebar
    div
      h4 Troop Meetings
      p
        | Mondays, 7:30-9:00 PM
        br
        | Old Brick Reformed Church
        br
        a(href="https://www.google.com/maps/place/490+County+Rd+520,+Marlboro+Township,+NJ+07746") 490 Rt. 520, Marlboro, NJ
    div
      h4 Reminders
    div
      h4 Upcoming Events
      ul
       li December 4-6 Philly
    div
      a(href="http://www.scouting.org/") Boy Scouts of America
      br
      a(href="http://monmouthbsa.org/") Monmouth Council
      br
      a(href="http://monmouthbsa.org/Council/Districts/Battleground/") Battleground District
    div
      | Troop 86 has been proudly chartered by 
      a(href="http://www.oldbrickchurch.org/") Old Brick Reformed Church 
      | since 1947.
